<section id="register" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">
              <form #formRegister="ngForm" (ngSubmit)="onAddUser()">
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  {{ msgError }}
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    #nameField="ngModel"
                    name="name"
                    class="form-control"
                    placeholder="Nombre"
                    [(ngModel)]="user.name"
                    required
                  />
                </div>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="nameField.touched && !nameField.valid"
                >
                  <div *ngIf="nameField.errors.required">
                    Nombre es requerido
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    #lastnameField="ngModel"
                    name="lastname"
                    class="form-control"
                    placeholder="Apellido"
                    [(ngModel)]="user.lastname"
                    required
                  />
                </div>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="lastnameField.touched && !lastnameField.valid"
                >
                  <div *ngIf="lastnameField.errors.required">
                    Apellido es requerido
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    #emailField="ngModel"
                    name="email"
                    class="form-control"
                    placeholder="Email"
                    [(ngModel)]="user.email"
                    required
                    minlength="8"
                  />
                </div>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="emailField.touched && !emailField.valid"
                >
                  <div *ngIf="emailField.errors.required">
                    Email es requerido
                  </div>
                  <div *ngIf="emailField.errors.minlength">
                    Email debe ser al menos de 8 caracteres
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    #passwordField="ngModel"
                    name="password"
                    class="form-control"
                    placeholder="Password"
                    [(ngModel)]="user.password"
                    required
                    minlength="5"
                    maxlength="10"
                  />
                </div>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="passwordField.touched && !passwordField.valid"
                >
                  <div *ngIf="passwordField.errors.required">
                    Password es requerido
                  </div>
                  <div *ngIf="passwordField.errors.minlength">
                    Password debe ser al menos de 5 caracteres
                  </div>
                  <div *ngIf="passwordField.errors.maxlength">
                    Password debe tener un maximo de 10 caracteres
                  </div>
                </div>
                <hr />
                <div class="form-group">
                  <h5>Seleccionar image:</h5>
                  <input
                    type="file"
                    accept=".png, .jpg"
                    (change)="onUpload($event)"
                  />
                </div>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-striped bg-success"
                    role="progressbar"
                    [style.width]="(uploadPercent | async) + '%'"
                  >
                    <span class="progressText" *ngIf="urlImage | async">
                      Ok!!
                    </span>
                  </div>
                </div>
                <br />
                <input #imageUser type="hidden" [value]="urlImage | async" />
                <button
                  *ngIf="urlImage | async; else btnDisabled"
                  type="submit"
                  class="btn btn-lg btn-primary btn-block"
                >
                  Register
                </button>
                <ng-template #btnDisabled>
                  <button
                    type="submit"
                    disabled="true"
                    class="btn btn-lg btn-secondary btn-block"
                  >
                    Register
                  </button>
                </ng-template>
                <div class="form-group">
                  <a routerLink="/login" class="form-control login-user">
                    Do you have account?
                  </a>
                </div>
                <div class="form-group">
                  <button
                    class="btn btn-block btn-social btn-facebook"
                    (click)="onLoginFacebook()"
                  >
                    <span class="fab fa-facebook-f"></span>
                    FACEBOOK
                  </button>
                  <button
                    class="btn btn-block btn-social btn-google"
                    (click)="onLoginGoogle()"
                  >
                    <span class="fab fa-google"></span>
                    GOOGLE
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
